/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* Estilos generales */
body {
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}

/* NAV BAR */

  /* Añadir margen a los elementos del menú */

  .navbar-custom .navbar-nav .nav-link {
    margin-right: 35px;
  }

  /* Cambiar el estilo de la fuente */
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-nav .nav-link {
    font-family: 'Space Grotesk', sans-serif;
  }

  .navbar-custom .navbar-nav { margin-left: auto; }

  /* Cambiar el color de fondo con mayor especificidad */
  nav.navbar-custom {
    background-color: #000 !important;
  }

  @media (max-width: 991.98px) {
    .navbar-custom .navbar-nav .nav-link {
        margin: 25px 0; /* Ajusta según tu preferencia */
        text-align: center;
        width: 100%;
    }
  }

  @media (min-width: 992px) {
    .navbar-brand {
     margin-left: 150px;
     margin-top: 15px;
     margin-bottom: 15px;
    }
    .navbar-nav {
margin-right: 150px;
    }
  }

  /* Cambiar el color del active del toggle */
.navbar-toggler-icon.active {
    color: #72EEAC;
  }
  
  /* Cambiar el color del nav-link en hover */
  .navbar-custom .navbar-nav .nav-link:hover {
    color: #72EEAC;
  }

/* Estilos generales para los enlaces */
a {
    text-decoration: none !important; /* Eliminar subrayado */
    color: inherit /* Mantener el color por defecto */
}

/* Estilos específicos para los enlaces dentro de los botones */
.feature-container button a {
    text-decoration: none; /* Eliminar subrayado */
    color: inherit; /* Mantener el color por defecto */
}

/* Contenedores del logo y el menú */
#logo-container, #nav-container {
    margin: 0 150px;
    display: flex;
    align-items: center;
}

/* Contenido principal */
main {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 0px;
}

#content {
    padding: 50px 50px; /* Ajustar el espaciado para pantallas más pequeñas */
    background-color: #121212;
    color: #FFFFFF;
    order: 2;
    text-align: center;
}

#content h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px; /* Reducir el tamaño del texto para pantallas más pequeñas */
    line-height: 55px; /* Ajustar la altura de línea */
    margin: 0;
}

#content p {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14px; /* Reducir el tamaño del texto para pantallas más pequeñas */
    line-height: 28px; /* Ajustar la altura de línea */
    font-weight: normal;
}

/* Botones */
#content a {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

#image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#image-container {
    order: 1;
}

/* Consultas de medios */
@media only screen and (min-width: 768px) {
    main {
        flex-direction: row;
        justify-content: space-between;
    }

    #content {
        width: 50%;
        padding: 150px 150px;
        text-align: left;
    }

    #image-container {
        width: 50%;
        order: 3;
    }
}

/* Botones */
button {
    background-color: #72EEAC;
    border: none;
    border-radius: 25px !important;
    font-family: 'Space Grotesk', sans-serif !important;
    font-size: 15px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

button:last-child {
    margin-right: 0;
}

button:hover {
    background-color: #ffffff;
    color: #000000;
}

/* Contenedor de características */
#secondary-container {
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px 25px;
}

.feature-container {
    background-color: #222222;
    border: 8px solid #323232;
    border-radius: 20px;
    width: calc(100% - 40px); /* Ancho total con margen */
    margin: 0 0 25px; /* Espacio entre las cards */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Alinear el texto al centro */
    transition: transform 0.3s ease;
    padding-bottom: 20px;
}

.feature-container:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.feature-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    transition: filter 0.3s ease;
}

.feature-container:hover img {
    filter: brightness(130%);
}

.feature-container h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    color: #ffffff;
    margin: 20px 0 0 0;
}

.feature-container p {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 11px;
    color: #ffffff;
}

/* Consulta de medios para móviles */
@media only screen and (min-width: 768px) {
    .feature-container {
        width: calc(25% - 40px); /* Ajustar el ancho para mostrar 4 cards por fila */
        margin: 0 20px 20px 0; /* Espacio entre las cards */
    }
    #secondary-container {
     padding: 100px;
    }

}

/* Footer */
footer {
    background-color: #000000;
    padding: 50px; /* Ajusta el padding según necesites */
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas más pequeñas */
    justify-content: space-between;
    color: #ffffff;
}

footer div {
    margin: 10px; /* Espaciado entre los elementos del footer */
    flex: 1 1 auto; /* Hace que los elementos se ajusten automáticamente */
}

#footer-logo p, #footer-social p {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14px;
}

#footer-nav ul {
    list-style: none;
    padding: 0;
}

#footer-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14px;
    display: block;
    padding: 5px 0;
}

#footer-nav ul li a:hover {
    color: #72EEAC;
}

#footer-social img {
    padding: 5px;
    margin: 2px 2px;
}

#footer-social img:hover {
    transform: scale(1.1);
}

#footer-credits {
    background-color: #72EEAC;
    color: black;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 17px;
    text-align: center;
    padding: 15px 0;
}

/* Estilo para el logo en el footer */
#footer-logo a {
    display: inline-block;
    transition: transform 0.3s ease;
}

#footer-logo a:hover {
    transform: scale(1.05);
}

/* Estilo para los iconos sociales */
#footer-social img {
    display: inline-block;
    transition: transform 0.3s ease;
    margin: 5px 5px;
    padding: 0px;
}

#footer-social img:hover {
    transform: scale(1.1);
}

/* Efecto de escala sobre los botones */
button {
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

/* Consulta de medios para pantallas más pequeñas (por ejemplo, móviles) */
@media only screen and (max-width: 768px) {
    footer {
        flex-direction: column; /* Cambiar a dirección de columna */
        text-align: center; /* Centrar el contenido */
    }

    footer div {
        margin: 10px 0; /* Espaciado entre los elementos del footer */
    }
}

/* Estilos para la sección de servicios */
.service-section {
    background-color: #171717;
    display: flex;
    align-items: center;
}

.service-content {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alineación vertical al centro */
}

.service-content img {
    width: 50%; /* Ancho fijo */
    height: auto; /* Altura fija */
    object-fit: cover;
}

.service-content .image-container {
    width: 50%; /* El contenedor de la imagen ocupa el 50% del ancho */
    position: relative; /* Posicionamiento relativo para utilizar padding como porcentaje */
    padding-bottom: 50%; /* Proporción cuadrada de 1x1 */
}

.service-content .image-container img {
    position: absolute; /* Posicionamiento absoluto para rellenar completamente el contenedor */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.service-details {
    width: 50%;
    padding-right: 150px; /* Padding a la derecha */
    padding-left: 75px; /* Padding a la izquierda */
}

.service-details h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 20px;
}

.service-details p {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 20px;
    line-height: 38px;
}

.service-details button {
    background-color: #72EEAC;
    border: none;
    border-radius: 25px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.service-details button:hover {
    background-color: #ffffff;
    color: #000000;
}

/* Cambiar el orden de los bloques de servicios */
.service-section:nth-child(odd) .service-content {
    flex-direction: row-reverse; /* Invertir el orden de los elementos */
}

.service-section:nth-child(odd) .service-details {
    padding-right: 75px; /* Ajustar el padding a la derecha */
    padding-left: 150px; /* Ajustar el padding a la izquierda */
}

.service-details h2 span {
    color: #72EEAC; /* Color del texto resaltado */
}

.service-details h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 20px;
}


/* Estilos para el div pagetitle */
.pagetitle {
    text-align: center; /* Alineación del texto al centro */
    background-color: #121212;
    padding: 30px 0; /* Padding superior e inferior de 30px */
    margin: 0; /* Eliminar márgenes */
}

.pagetitle p {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: #fff;
    margin: 0; /* Eliminar márgenes */
}

.pagetitle p span {
    color: #72EEAC;
}

/* Estilos para la nueva sección de goal-purpose-values */
.goal-purpose-values {
    padding: 75px 150px;
    display: flex;
    justify-content: space-between; /* Cambiado a space-between para agregar espacio entre las columnas */
}

.column {
    width: 30%; /* Ajusta el ancho de las columnas según sea necesario */
    color: #fff; /* Cambia el color del texto si es necesario */
    margin: 0 10px; /* Margen horizontal de 10px entre las columnas */
}

.column h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

.column h2 span {
    color: #72EEAC; /* Cambia el color del texto resaltado si es necesario */
}

.column p {
    line-height: 30px; /* Altura de línea de 30px para los cuerpos de las columnas */
}

/* Estilos para el párrafo Follow @artugrande */
.service-details p {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 15px;
}

/* Estilos para los iconos de redes sociales */
#social-icons {
    display: flex;
    justify-content: flex-start; /* Alinea los iconos a la izquierda */
    max-width: 100%; /* Asegura que los iconos no excedan el ancho del contenedor */
}

#social-icons img {
    margin: 0 10px; /* Ajusta el margen entre los iconos según sea necesario */
    height: 35px;
    width: auto;
}

/* Estilos para la sección de contacto */
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 380px; /* Ancho fijo de 380px */
    padding: 10px;
    border: 1px solid #787778;
    border-radius: 10px;
    background-color: #171717;
    color: #fff;
    margin-bottom: 20px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px; /* Tamaño de fuente */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    outline: none;
    border-color: #93eab1; /* Cambia el color al estar seleccionado */
}

/* Estilo para el botón */
button[type="submit"] {
    background-color: #72EEAC;
    border: none;
    border-radius: 25px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

button[type="submit"]:hover {
    background-color: #ffffff;
    color: #000000;
}

.service-details form {
    display: flex;
    flex-direction: column;
}

.service-details form button {
    align-self: flex-start; /* Alinea el botón a la izquierda */
}

/* Estilos para el HTML de Portfolio con grids */

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    padding: 20px; /* Ajuste del padding */
    background-color: #171717;
    text-align: center;
    align-items: center; /* Centra verticalmente */
    cursor: pointer;
}

.grid-container img {
    height: 325px; /* Establece la altura máxima de las imágenes al 100% del contenedor */
    width: auto;
    vertical-align: middle; /* Centra verticalmente la imagen */
}

/* Efecto de hover */
.grid-container img:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
}

.grid-item {
    height: auto;
    border: solid 8px;
    border-color: #323232;
    margin-left: 25px;
    margin-bottom: 25px;
    border-radius: 25px;
    }

    .grid-one {
        background-color: #00E1FC;
        padding: 40px 0px;
    }
    .grid-two {
        background-color: #DFF38D;
        padding: 40px 0px;
    }
    
    .grid-three {
        background-color: #F950E5;
        padding: 40px 0px;
    }
    
    .grid-five {
        background-color: #F0CA5D;
        padding: 40px 0px;
    }
    
    .grid-six {
        background-color: #7ECC7A;
        padding: 40px 0px;
    }

    .first-large-item {
        background-color: #2A6270;
        padding: 40px 0px;
        }
        .second-large-item {
            background-color: #C05D38;
            padding: 40px 0px;
            }
            .first-large-item img {
               width: 75%;
               height: auto;
                }
                .second-large-item img {
                    width: 75%;
                    height: auto;
                    }

@media only screen and (min-width: 768px) {
.grid-container {
grid-template-columns: 33% 33% 33%;
padding: 100px;
}
    
.first-large-item {
grid-column-start: 1;
grid-column-end: 3;
background-color: #2A6270;
padding: 40px 0px;
}
.second-large-item {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #C05D38;
    padding: 40px 0px;
    }
}